<h2>Login</h2>
<form action="/login" method="post">
  <div class="col-md-3 col-md-offset-0">
  <div class="form-group">
    <label for="title">Username</label>
    <input type="title" name="credentials[username]" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Passowrd</label>
    <input type="password" name="credentials[password]"  class="form-control">
  </div>
  <div class="checkbox">

    <button type="submit" class="btn btn-primary">Login</button>
  </div>
  </div>
</form>

